body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

.inner-page {
  color: #ffffff;
  background-color: #849d8f;
}

.filters-group {
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.main-header {
  margin-bottom: 270px;
  min-height: 120px;

  /* Временно для сетки */
  outline: 3px solid red;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  background-color: #849d8f;
  min-height: 115px;
  outline: 3px solid grey;
}

.main-navigation-list {
  width: 387px;
  min-height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 293px;

  /* Временно для сетки */
  outline: 3px solid brown;
}

.user-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 10px;

  /* Временно для сетки */
  width: 267px;
  min-height: 60px;
  outline: 3px solid yellow;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 260px;

  /* Временно для сетки */
  min-height: 60px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-around;
}

.form-login {
  display: none;
}

.login:hover .form-login {
  display: block;
}

.form-search {
  display: none;
}

.search:hover .form-search {
  display: block;
}

.form-basket {
  display: none;
}

.basket:hover .form-basket {
  display: block;
}

.user-navigation-btn {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation-list,
.user-navigation-list,
.breadcrumbs-list {
  list-style: none;
}

.main-navigation-item {
  text-decoration: none;
}

.main-navigation-link {
  color: #ffffff;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  border-radius: 15px;
  color: #333333;
  background-color: #ededed;
  text-decoration: none;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 15px;

  /* Временно для сетки */
  outline: 3px solid green;
}

.main-navigation-item,
.user-navigation-item {
  display: inline;
}

.main-navigation-wrapper {
  width: 100%;

  /* Временно для сетки */
  min-height: 60px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 10px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  /* Временно для сетки */
  min-width: 940px;
  min-height: 210px;
  outline: 3px solid orange;
}

.slider-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  width: 682px;
  align-self: center;
  min-height: 120px;

  /*временно для сетки*/
  outline: 3px dashed red;
}

.slider .btn {
  width: 277px;
  align-self: center;
  min-height: 69px;
  outline: 3px dashed red;
  font-size: 32px;
  line-height: 44px;
  border-radius: 20px;

  /*для сетки*/
  margin-bottom: 35px;
}

.breadcrumbs-link.current {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.user-navigation-input:hover,
.feedback-form-input:hover {
  border: 1px solid #f8f7f4;
}

.schedule {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.schedule .phone {
  font-size: 22px;
  line-height: 24px;
}

.btn {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #eb553a;
  border-radius: 15px;
  border: none;
  vertical-align: middle;
  text-align: center;
}

.slider .btn {
  width: 277px;
  align-self: center;
  min-height: 69px;
  outline: 3px dashed red;
  font-size: 32px;
  line-height: 44px;
  border-radius: 20px;

  /*для сетки*/
  margin-bottom: 35px;
}

.btn:hover,
.btn:focus {
  background-color: #f07963;
  box-shadow: 0px 4px 3px #9f2c1c;
}

.btn:active {
  background-color: #db5338;
  box-shadow: 0 3px 4px #9f2c1c inset;
}

.promotions {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  /* Временно для сетки */
  width: 1146px;
  min-height: 230px;
  outline: 3px dashed blue;
}

.promotions-banner {
  width: 560px;
  padding: 20px;
  padding-top: 0px;
  margin: auto;
  /* Временно для сетки */
  width: 1146px;
  min-height: 230px;
  outline: 3px dashed pink;
}


.raspberry {
  display: block;
  width: 560px;
  height: 227px;
  margin-right: 25px;
  background-image: url("../img/raspberry-block.jpg");
  background-color: #ab0a3c;
}

.chocolate {
  display: block;
  width: 560px;
  height: 227px;
  background-image: url("../img/choco-block.jpg");
  background-color: #654339;
  background-repeat: none;
}

.promotions-banner-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promotions-banner-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.hit-products {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  /* Временно для сетки */
  min-height: 340px;
  outline: 3px dashed red;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 75px;

  /* Временно для сетки */
  min-height: 1060px;
  outline: 3px solid violet;
}

.catalog-item {
  width: 267px;
  margin-bottom: 20px;
  margin-right: 20px;

  /* Временно для сетки */
  min-height: 325px;
}

.catalog-item:nth-child(5),
.catalog-item:nth-child(9) {
  margin-right: 0px;
}

.catalog-item:hover {
  background-color: #9db1a5;
}

.catalog-item-text {
  font: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  border-bottom: 2px solid #9db1a5;
}

.catalog-item-link {
  color: #ffffff;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-weight {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item-image {
  border-radius: 200px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item-container {
  margin: 0;
  padding: 0;
}

.about-us {
  margin-bottom: 40px;
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  background-image: url("../img/pattern.jpg");
  background-color: #f0e5cd;
  color: #323232;

  /* Временно для сетки */
  min-height: 304px;
  outline: 3px dashed blue;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  }

.about-us-item {
  width: 540px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 15px;

  /* Временно для сетки */
  min-height: 85px;
  outline: 3px dashed lightblue;
  /*Абсолютное позиционирование?*/
}

.about-us-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-left: 15px;
}

.our-news {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 230px;
  outline: 3px dashed blue;
}

.our-news-blog-title {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.our-news-blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.our-news-blog-link:hover,
.our-news-blog-link:active {
  color: #ffbc9e;
}

.our-news-mail-title {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.our-news-input {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.our-news-blog {
  width: 560px;
  padding: 0 20px;
  margin-bottom: 38px;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;

  /* Временно для сетки */
  min-height: 214px;
  outline: 3px dashed green;
}

.our-news-mail {
  width: 560px;
  padding: 0 20px;
  margin-bottom: 38px;
  background-image: url("../img/mail-bg-grey.jpg");
  background-repeat: no-repeat;

  /* Временно для сетки */
  min-height: 214px;
  outline: 3px dashed green;
}

.adress-text {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.adress-text .bold {
  color: #323232;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  /* Временно для сетки */
  min-height: 426px;
  outline: 3px dashed blue;
}

.contacts {
  width: 309px;
  background: white;
  align-self: flex-end;
  margin-top: 60px;
  margin-right: 27px;

  /* Временно для сетки */
  min-height: 309px;
  outline: 3px dashed grey;
}

.contacts-form .btn {
  width: 240px;

  /* Временно для сетки */
  min-height: 43px;
  outline: 3px dashed orange;
}

.main-footer {
  color: #fefefe;
  background-color: #849d8f;
  margin-top: 28px;
}

.main-footer .container {
  display: flex;
  align-content: space-between;
}

.main-footer {
  /*Временно для сетки*/
  min-height: 70px;
  outline: 3px solid orange;
}

.social {
  width: 267px;
  min-height: 70px;
  margin: 0;
  margin-right: 110px;
  text-align: center;
}

.social-item {
  width: 31px;
  height: 31px;
}

.social-item:hover {
  opacity: 0.4;
}

.social-list {
  list-style: none;
}

.social-link {
  background-repeat: no-repeat;
}

.footer-menu {
  width: 330px;
  margin-right: 200px;
  text-align: left;
}

.footer-copyright {
  width: 200px;
  margin: 0;
  margin-left: auto;
}

.footer-copyright-link {
  color: #fefefe;
  border-bottom: 2px solid #9db1a5;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright-link:hover,
.footer-copyright-link:focus {
  color: #e6b69b;
}

.social-item,
.footer-item {
  display: inline;
}

.footer-list {
  list-style: none;
  text-align: center;
}

.footer-item {
  margin-right: 20px;
  border-bottom: 2px solid #9db1a5;
}

.footer-item:nth-child(2) {
  margin-right: 45px;
  margin-left: auto;
}

.footer-link {
  color: #ffffff;
  border-bottom: 2px solid #9db1a5;
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  color: #e6b69b;
}

.modal-windows {
  display: none;
}

.filters-fillers-title,
.filters-sorting-item,
.filters-fillers-item,
.filters-fat-item,
.filters-sorting-list {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-fat-list,
.filters-fillers-list,
.pagination-list {
  list-style: none;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  /* Временно для сетки */
  min-height: 41px;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;

  /* Временно для сетки */
  min-height: 20px;
}

.breadcrumbs-item {
  margin-right: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs-link,
.breadcrumbs-link.current {
  color: #ffffff;
  text-decoration: underline;
}

.breadcrumbs-link.current {
  text-decoration: none;
}

.filters {
  width: 855px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  /* Временно для сетки */
  min-height: 140px;
  outline: 3px solid brown;
}

.filters-group {
  flex-wrap: wrap;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;

  /* Временно для сетки */
  min-height: 35px;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
}

.inner-page .main-footer {
  margin-top: 25px;
}

.pagination-item {
  width: 26px;
  height: 25px;
  border-radius: 15px;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.pagination-item:hover{
  background-color: #9db1a5;
}

.pagination-item.current {
  width: 26px;
  height: 25px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #323232;
  text-align: center;
  vertical-align: middle;
}

.pagination-link:hover,
.pagination-link:active,
.pagination-link:focus {
      color: #e84d37;
  }

.pagination-link.current {
  color: #323232;
  text-align: center;
  vertical-align: middle;
}

.pagination-link:hover{
  color: #ffffff;
}

.pagination-link:active,
.pagination-link:focus {
  color: #323232;
  background-color: #ffffff;
}
