body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.inner-page {
  color: #ffffff;
  background-color: #849d8f;
}

.site-wrapper {
  min-width: 1146px;
  background-color: #849d8f;
  background-image: url("../img/main-ice-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.filters-group {
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 270px;
  position: relative;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  background-color: transparent;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 387px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 293px;
}

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 267px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search {
  width: 31px;
  height: 32px;
  background: #a1b4a9;
  margin-top: 15px;
  border-radius: 20px;
}

.search:hover {
  color: #000;
  background: #f8f7f4;
}

.user-navigation-search-icon {
  width: 17px;
  height: 17px;
  fill: #fff;
}

.search:hover .user-navigation-search-icon {
  fill: #000;
}

.login {
  margin-top: 15px;
  margin-left: 8px;
  background-color: #a0b5a9;
  border-radius: 20px;
  padding-left: 14px;
  padding-top: 5px;
  height: 30px;
  width: 90px;
}

.login:hover {
  color: #000;
  background-color: #f8f7f4;
}

.user-navigation-login-icon {
  fill: #fff;
}

.login:hover .user-navigation-login-icon {
  fill: #000;
}

.basket {
  margin-top: 15px;
  margin-left: 8px;
  background-color: #a0b5a9;
  border-radius: 20px;
  padding-left: 14px;
  padding-top: 5px;
  height: 30px;
  width: 90px;
}

.basket:hover {
  color: #000;
  background-color: #f8f7f4;
}

.user-navigation-basket-icon {
  fill: #fff;
}

.basket:hover .user-navigation-basket-icon {
  fill: #e84d37;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 260px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-around;
}

.form-login {
  display: none;
}

.user-navigation {
  position: relative;
}

.login:hover .form-login {
  display: block;
  position: absolute;
  z-index: 2;
  width: 280px;
  height: 210px;
  right: 150px;
  top: 55px;
  background: #f8f7f4;
}

.user-navigation-btn {
  color: #323232;
  text-decoration: none;
  box-shadow: 0 1px 1px #adacaa;
}

.form-search {
  display: none;
}

.search:hover .form-search {
  display: block;
  position: absolute;
  width: 330px;
  height: 80px;
  z-index: 2;
  top: 40px;
  left: -150px;
  background: #f8f7f4;
}

.form-basket {
  display: none;
}

.basket:hover .form-basket {
  display: block;
  position: absolute;
  width: 540px;
  z-index: 2;
  top: 40px;
  left: -150px;
  background: #f8f7f4;
}

.main-navigation-list,
.user-navigation-list,
.breadcrumbs-list {
  list-style: none;
}

.main-navigation-link,
.user-navigation-link {
  display: block;
  color: #ffffff;
  padding: 10px;
  vertical-align: middle;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  border-radius: 15px;
  color: #333333;
  background-color: #ededed;
  text-decoration: none;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 15px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 10px;
}

.slider {
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-button {
  padding: 15px 35px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 30px;
  }

.slider-controls-1,
.slider-controls-2,
.slider-controls-3  {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper .slider-controls-1,
#product-2:checked ~ .site-wrapper .slider-controls-1,
#product-3:checked ~ .site-wrapper .slider-controls-1 {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/main-ice-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/main-ice-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/main-ice-3.png");
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/main-ice-2.png");
}

.site-wrapper::after {
  background-image: url("../img/main-ice-3.png");
}

.breadcrumbs-link.current {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.user-navigation-input:hover,
.feedback-form-input:hover {
  border: 1px solid #f8f7f4;
}

.schedule {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  top: 100px;
  right: 10px;
}

.schedule .phone {
  font-size: 22px;
  line-height: 24px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 15px;
  border: none;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.promotions {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.promotions-banner {
  width: 560px;
  padding: 20px;
  padding-top: 0px;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.promotions-banner-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 17px;
}

.promotions-banner-text {
  margin-left: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promotions-banner-button {
  margin-left: 340px;
  margin-top: 25px;
  width: 185px;
  text-decoration: none;
  padding: 7px 15px;
}

.raspberry {
  display: block;
  width: 560px;
  height: 227px;
  margin-right: 25px;
  background-image: url("../img/raspberry-block.jpg");
  background-color: #ab0a3c;
}

.chocolate {
  display: block;
  width: 560px;
  height: 227px;
  background-image: url("../img/choco-block.jpg");
  background-color: #654339;
  background-repeat: none;
}

.hit-products {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 75px;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(5),
.catalog-item:nth-child(9) {
  margin-right: 0px;
}

.catalog-item:hover {
  background-color: #9db1a5;
}

.catalog-item-text {
  font: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  border-bottom: 2px solid #9db1a5;
}

.catalog-item-link {
  color: #ffffff;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-weight {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item-image {
  border-radius: 200px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item-container {
  margin: 0;
  padding: 0;
}

.catalog-item::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .catalog-item::before {
  display: none;
}

.catalog-item-price-container {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: 90px;
  left: 10px;
  min-width: 157px;
  height: 35px;
  border-bottom: none;
}

.about-us {
  position: relative;
  width: 1146px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  background-image: url("../img/pattern.jpg");
  background-color: #f0e5cd;
  color: #323232;
  border-radius: 20px;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px;
  list-style: none;
}

.about-us-item {
  position: relative;
  display: block;
  width: 490px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  margin-bottom: 20px;
}

.about-us-item::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.ice::before {
  position: absolute;
  top: -5px;
  left: 0px;
  background-image: url("../img/ice-cream.svg");
}

.eco::before {
  position: absolute;
  top: -5px;
  left: 0px;
  background-image: url("../img/eco.svg");
}

.cow::before {
  position: absolute;
  top: -5px;
  left: 0px;
  background-image: url("../img/cow.svg");
}

.themperature::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0px;
  background-image: url("../img/thermometer.svg");
}

.about-us-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-left: 15px;
}

.our-news {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.our-news-blog-title {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.our-news-blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.our-news-blog-link:hover,
.our-news-blog-link:active {
  color: #ffbc9e;
}

.our-news-mail {
  position: relative;
}

.our-news-input {
  width: 365px;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 55px;
}

.our-news-button {
  padding: 5px 15px;
}

.our-news-mail-title {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.our-news-blog {
  width: 560px;
  height: 220px;
  padding: 0 20px;
  margin-bottom: 38px;
  border: 0px;
  border-radius: 15px 15px;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
}

.our-news-mail {
  width: 560px;
  height: 220px;
  padding: 0 20px;
  margin-bottom: 38px;
  border: 0px solid white;
  border-radius: 15px 15px;
  background-image: url("../img/mail-bg-grey.jpg");
  background-repeat: no-repeat;
}

.contacts-adress {
  display: block;
  width: 150px;
  word-wrap: break-word;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts-adress.bold {
  width: 210px;
  color: #323232;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-phone {
  width: 225px;
  word-wrap: normal;
  color: #323232;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.contacts-phone.bold {
  width: 225px;
  word-wrap: normal;
  color: #323232;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.map {
  position: relative;
  width: 1200px;
  height: 430px;
  margin: 0;
  padding: 0;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.contacts {
  position: absolute;
  top: 60px;
  right: 25px;
  width: 309px;
  height: 309px;
  background: #fffffe;
  border-radius: 15px;
  padding-left: 25px;
}

.contacts-button {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 30px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  width: 250px;
  padding: 10px 20px;
}

.contacts-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.contacts-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-footer {
  color: #fefefe;
  background-color: #849d8f;
  margin-top: 35px;
}

.main-footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-list {
  width: 185px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item {
  width: 35px;
  height: 35px;
  fill: #fff;
}

.social-icon {
  fill: #fff;
  border: 2px solid #c2cec7;
  border-radius: 50px;
}

.social-icon:hover {
  fill: #fff;
  border: 2px solid #dae2de;
  border-radius: 50px;
}

.social-icon:active {
  fill: #e9e9e9;
  border: 2px solid #dae2de;
  border-radius: 50px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-item {
  font-size: 13px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  cursor: pointer;
}

.footer-item:first-child {
  position: relative;
}

.footer-item:first-child::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 0px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright-link {
  color: #fefefe;
  border-bottom: 1px solid #9db1a5;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.modal-windows {
  display: none;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.breadcrumbs-item {
  margin-right: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs-link,
.breadcrumbs-link.current {
  color: #ffffff;
  text-decoration: underline;
}

.breadcrumbs-link.current {
  text-decoration: none;
}

.filters {
  width: 855px;
  margin-bottom: 30px;
}

.filters-fillers-title,
.filters-sorting-item,
.filters-fillers-item,
.filters-fat-item,
.filters-sorting-list {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-fat-list,
.filters-fillers-list,
.pagination-list {
  list-style: none;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
}

.pagination-item {
  width: 26px;
  height: 25px;
  border-radius: 15px;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.pagination-item:hover{
  background-color: #9db1a5;
}

.pagination-item.current {
  width: 26px;
  height: 25px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #323232;
  text-align: center;
  vertical-align: middle;
}

.pagination-link:hover,
.pagination-link:active,
.pagination-link:focus {
  color: #e84d37;
}

.pagination-link.current {
  color: #323232;
  text-align: center;
  vertical-align: middle;
}

.pagination-link:hover{
  color: #ffffff;
}

.pagination-link:active,
.pagination-link:focus {
  color: #323232;
  background-color: #ffffff;
}

.inner-page .main-footer {
  margin-top: 25px;
}

.inner-page .main-header {
  margin-bottom: -255px;
}

/*Модальное окно
.modal {
  position: fixed;
  color: #000000;
  background-color: #f8f3f0;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-window {
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 300px;
  padding: 50px 80px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: red;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;

  background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback-form-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}*/
